.paginationBox {
    margin-top: 1rem;
    display: flex;
    height: auto;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

.paginationBtns {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

.paginationBtn {
    margin-right: 0.4rem;
}

.paginationBtn button {
    padding: 0.3rem 0.6rem;
    margin: 0;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    border: 1px solid slategray;
    border-radius: 0.1rem;
    font-family: 'Varela Round', sans-serif;
}

.paginationBtn button.arrowBtn {
    padding: 0.34rem 0.6rem;
}

.paginationBtn button.arrowBtn.arrowLeft {
    border-radius: 50% 0.1rem 0.1rem 50%;
}

.paginationBtn button.arrowBtn.arrowRight {
    border-radius: 0.1rem 50% 50% 0.1rem;
}


.paginationBtn button.activeBtn {
    color: #ddd;
    background: slategray;
}

.itemsPerPage {
    display: flex;
    align-items: center;
}

.itemsPerPage span {
    margin-right: 0.6rem;
}

.itemsPerPage select {
    padding: 0.2rem 0.4rem;
    color: slategray;
    font-size: 1rem;
    border: 1px solid slategray;
    outline: none;
    background: transparent;
    border-radius: 0.2rem;
    font-family: 'Varela Round', sans-serif;
}

@media screen and (max-width: 860px) {
    .paginationBtn {
        margin-right: 0;
    }

    .paginationBtn button {
        margin: 0;
        border-radius: 0;
        border-right: 0;
    }
}

@media screen and (max-width: 680px) {
    .paginationBox {
        flex-direction: column;
    }

    .itemsPerPage {
        margin-top: 1rem;
    }
}