@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container {
    padding: 4rem 0.4rem;
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.filterBox {
    margin: 0 auto;
    padding: 2rem;
    color: #ddd;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
}

.topbar {
    padding: 1rem 0;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#selectCountry {
    padding: 0.2rem 0.4rem;
    color: slategray;
    font-size: 1rem;
    background: transparent;
    border: 1px solid slategray;
    outline: none;
    border-radius: 0.2rem;
    font-family: 'Varela Round', sans-serif;
}

.searchBox {
    width: 300px;
}

.searchBox input {
    padding: 0.2rem 0.6rem;
    color: #ddd;
    font-size: 1rem;
    width: 100%;
    background: transparent;
    border: 1px solid slategray;
    outline: none;
    border-radius: 0.2rem;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.searchBox input::placeholder {
    color: slategray;
}

.dataCountBox p {
    padding: 0.2rem 0.6rem;
    color: #ddd;
    font-size: 1rem;
}

.dataContent {
    margin-top: 1rem;
}

.dataTable {
    margin-bottom: 2rem;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
}

thead {
    color: #ddd;
}

tr {
    text-align: center;
    border: 1px solid gray;
}

th {
    padding: 0.4rem 0.2rem;
    border: 1px solid gray;
}

td {
    padding: 0.4rem 0.2rem;
    border: 1px solid gray;
}

@media screen and (max-width: 720px) {
    th:nth-child(6) {
        display: none;
    }

    td:nth-child(6) {
        display: none;
    }

    .dataCountBox {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    th:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    th:nth-child(4) {
        display: none;
    }

    td:nth-child(4) {
        display: none;
    }

    .topbar {
        padding: 0.2rem 0;
        flex-direction: column;
    }

    .searchBox {
        margin-top: 1rem;
        width: 100%;
    }

    .dataTable {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 480px) {
    th:nth-child(7) {
        display: none;
    }

    td:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    th:nth-child(1) {
        display: none;
    }

    td:nth-child(1) {
        display: none;
    }
}