.home {
    padding: 4rem 0.8rem;
    margin: 0 auto;
    color: #fff;
    height: auto;
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Belanosima', sans-serif;
}

.projects {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.projectLink {
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.footer {
    padding: 0.4rem 0.6rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #333;
    font-size: 1rem;
    z-index: 9999;
}