.home > h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.projectLink {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.footer {
    padding: 0.4rem 0.6rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: #333;
    font-size: 1rem;
    z-index: 9999;
}