.home {
    padding: 0 0.8rem;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    overflow-x: hidden;
}

.projects {
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

@media screen and (max-width: 1020px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 680px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}