@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.passwordChecker {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.checkBox {
    width: 340px;
    height: 480px;
    margin: 0 0.6rem;
}

.inputField {
    position: relative;
    height: 46px;
    width: 100%;
}

.inputField input {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background: #222;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.inputField input::placeholder {
    color: #888;
    letter-spacing: 0;
}

.iconEye, .iconEyeSlash {
    position: absolute;
    right: 1rem;
    top: 0.86rem;
    color: #888;
    font-size: 1.3rem;
    cursor: pointer;
}

.strenghtBars {
    margin-top: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.strenghtBar {
    height: 4px;
    width: 50px;
    border-radius: 0.2rem;
}

.instructions {
    margin-top: 1rem;
}

.instructions p {
    color: #888;
    font-size: 1.2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
}

.instructions p:first-child {
    color: #666;
}

.instructions p span {
    margin-left: 0.6rem;
}

.iconCheck {
    color: seagreen;
}

@media screen and (max-width: 380px) {
    .checkBox {
        width: 100%;
    }

    .strenghtBar {
        width: calc(100% / 6.2);
    }
}