.card {
    height: 300px;
    width: 100%;
    background: #111;
    border: 1px solid #000;
    border-radius: 1.2rem;
    overflow: hidden;
}

.thumb {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.thumb:hover img {
    transform: scale(1.2);
}

.tags {
    position: absolute;
    bottom: 1rem;
    left: 0.85rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.12rem;
    z-index: 999;
}

.tags span {
    padding: 0.2rem 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 1.4rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #222;
}

.tags span.html {
    background: #de5e02;
}

.tags span.css {
    background: #11a9fb;
}

.tags span.javascript {
    background: #d2ae10;
}

.tags span.react {
    background: #25eef8;
}

.title {
    padding-left: 0.85rem;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title p {
    color: #fff;
    font-size: 1.2rem;
}