@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');

.stopWatch {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rethink Sans', sans-serif;
}

.stopWatchContent {
    margin: 0 0.6rem;
    padding: 1rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #222;
    border-radius: 2rem;
}

.watchBox {
    padding: 1.2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.watchBox > p {
    margin: 0.2rem;
    width: 120px;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    border-radius: 0.2rem;
}

.watchBox > p > span {
    margin-left: 0.4rem;
    font-size: 1.3rem;
}

.controls {
    padding: 0.6rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.controls button {
    margin: 0.4rem;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.2rem;
    font-family: 'Rethink Sans', sans-serif;
    transition: all 0.3s ease;
}

.controls button:disabled {
    opacity: 0.8;
}