.header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
}

.header h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: none;
    background-image: repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(151, 26, 210),rgb(57, 199, 205));    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.toggler {
    display: grid;
    height: 45px;
    width: 50px;
    place-items: center;
    cursor: pointer;
    border-radius: 0.1rem;
    z-index: 999;
}

.toggleBar {
    position: relative;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggleBar::before {
    position: absolute;
    content: '';
    top: -0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggleBar::after {
    position: absolute;
    content: '';
    top: 0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggler.active .toggleBar {
    background: transparent;
    transform: rotate(40deg);
}

.toggler.active .toggleBar::before {
    transform: rotate(-85deg);
    top: 0;
}

.toggler.active .toggleBar::after {
    transform: rotate(5deg);
    top: 0;
}


/* navbar */
.navBox {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 260px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: 1.2rem;
    transform: translateX(2rem);
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 99999;
}

.navBox.activeNav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.navLeft {
    list-style-type: none;
    height: auto;
    max-height: 400px;
    min-width: 260px;
    overflow-y: auto;
    background: #222;
    border: 1px solid #000;
    border-radius: 1.2rem;
    pointer-events: auto;
    transform: translate(0);
    transition: all 0.3s ease;
}

.navLeft.activeRight {
    pointer-events: none;
    transform: translate(-100%);
}

.navRight {
    min-width: 260px;
    max-height: 400px;
    background: #222;
    border: 1px solid #000;
    border-radius: 0.2rem;
    overflow-y: auto;
    pointer-events: none;
    border-radius: 1.2rem;
    transform: translate(0);
    transition: all 0.3s ease;
}

.navRight.activeRight {
    pointer-events: auto;
    transform: translate(-100%);
}

.navRight ul{
    width: 100%;
    display: none;
}

.navRight ul.activeList {
    display: block;
}

.navLeft li,
.navLeft > a,
.navRight ul li {
    padding: 0.4rem 0 0.4rem 0.8rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.navLeft > a {
    border-top: 1px solid #000;
}

.navRight ul li {
    padding: 0;
}

.navRight ul li:first-child {
    padding: 0.8rem;
    background: #333;
    border-bottom: 1px solid #000;
}

.navRight ul li a {
    padding: 0.8rem;
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navLeft li:hover,
.navLeft a:hover,
.navRight ul li:hover {
    background: #333;
}

@media screen and (max-width: 460px) {
    .header h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 300px) {
    .header h1 {
        font-size: 1.8rem;
    }
}