footer {
    margin: 5rem 0 3rem 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #333;
    font-size: 1.2rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #111;
}

footer p a {
    color: #333;
    text-decoration: underline;
}

@media screen and (max-width: 440px) {
    footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    footer p {
        font-size: 0.9rem;
    }
}