*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

.navRight::-webkit-scrollbar-track {
  background: #222;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4fc624, greenyellow, orange, orangered);
  border-radius: 2rem;
}

.project-title:hover ~ .icon-link {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}