@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #111;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4fc624, greenyellow, orange, orangered);
  border-radius: 2rem;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
  background-attachment: fixed;
  background-position: center;
}

.logo {
  -webkit-text-stroke: 2px #111;
}

.logo::before {
  position: absolute;
  top: 0;
  left: 0;
  content: 'REACTOR';
  color: transparent;
  background: linear-gradient(45deg, orangered, #4fc624);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1, 1.15);
  z-index: -1;
}

.toggleBar::before {
  position: absolute;
  content: '';
  top: -0.7rem;
  left: 0;
  height: 3px;
  width: 32px;
  background: #fff;
  transition: all 0.3s ease;
}

.toggleBar::after {
  position: absolute;
  content: '';
  top: 0.7rem;
  left: 0;
  height: 3px;
  width: 32px;
  background: #fff;
  transition: all 0.3s ease;
}

.toggler.active .toggleBar {
  background: transparent;
  transform: rotate(40deg);
}

.toggler.active .toggleBar::before {
  transform: rotate(-85deg);
  top: 0;
}

.toggler.active .toggleBar::after {
  transform: rotate(5deg);
  top: 0;
}

.project-title:hover ~ .icon-link {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.tags > span {
  text-shadow: 0.1rem 0.1rem 0.2rem #111;
}

.stopwatch-bg {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/images/backgrounds/cllock-bg.jpg');
}

.clock-bg {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/images/backgrounds/stopwatch-bg.jpg');
}

.todo-bg {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./assets/images/backgrounds/todo-bg.jpg');
}